*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.45;
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 1920px) {
    html {
        font-size: 75.5%; /* 1rem = 12px */
    }
}

@-ms-viewport {
    width: device-width;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    text-align: left;
    font-family: $primary-font;
    font-size: 1.6rem; // Currently ems cause chrome bug misinterpreting rems on body element
    font-weight: 400;
    color: $base-text-color;
    letter-spacing: 0.01em;
    background-color: #ffffff;
}

[tabindex='-1']:focus {
    outline: 0 !important;
}

img {
    max-width: 100%;
}

a {
    color: $primary-color-dark;
}
