.button, button {
    font-family: $primary-font;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem 2.8rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-sm {
    padding: 0.8rem 2.2rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-primary {
    background-color: $primary-color;
    color: $white-color;

    &:hover {
        background-color: $primary-color-dark;
        color: $white-color;
    }
}

.button-primary-dark {
    background-color: $primary-color-dark;
    color: $white-color;

    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }
}

.button-accent-dark {
    background-color: $accent-color-dark;
    color: $white-color;

    &:hover {
        background-color: $accent-color;
        color: $white-color;
    }
}

.button-accent {
    background-color: $accent-color;
    color: $white-color;

    &:hover {
        background-color: $accent-color-dark;
        color: $white-color;
    }
}

.button-clear, a .button-clear {
    background-color: transparent;
    color: $primary-text-color;

    &:hover {
        color: $primary-color;
    }
}

.button-clear-active {
    color: $primary-color;
}

.button-cta {
    background-color: $accent-color;
    color: #ffffff;
    border: 2px solid #ffffff;
    outline: 2px solid $accent-color;
    letter-spacing: 1px;

    &:hover {
        background-color: $accent-color-dark;
    }
}