/* stylelint-disable color-no-hex */

.header {
    border-bottom: 1px solid $primary-color;
    padding: 0.5rem 0;
}

.section-sm {
    padding: 2rem 0;
}

.section {
    padding: 6rem 0;
}

.col-nav {
    text-align: right;
}

.col-nav a {
    margin: 10px 0;
}

.home-header {
    width: 100%; /* for IE 6 */
    background: url('/assets/static/header.jpg') no-repeat;
    background-size: cover;
    padding: 40px 20px;
    background-position: center;
    min-height: 600px;
    position: relative;
}

.home-video {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.stars img {
    width: 20px;
    display: inline;
    margin: 5px 2px;
}

.villa-header {
    width: 100%; /* for IE 6 */
    background: url('/assets/static/villa-royale-1.jpg') no-repeat;
    background-size: cover;
    padding: 40px 20px;
    background-position: center;
    min-height: 650px;
    position: relative;
}

.villa-avail-cal {
    margin-left: auto;
    margin-right: auto;
}

.villa-avail-cal iframe {
    width: 100%;
    height: 150px !important;
    margin-left: 0px;
}

.book-cta {
    display: none;
    padding: 20px;
    max-width: 300px;
    float: left;
    background-color: $secondary-color;
    border: 1px solid $primary-color;
    margin-bottom: 50px;
}

.wedding-divider {
    height: 6rem;
}

.gallery-thumb-lg {
    box-sizing: border-box;
    display: table;
    margin: 1px;
    padding: 20px;
    height: 30rem;
    width: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.w-image {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid $border-color;
}

.divider-primary {
    display: block;
    height: 1px;
    background-color: $primary-color;
    margin: 0;
    width: 50px;
}

.divider-primary-xs {
    display: block;
    height: 1px;
    background-color: $primary-color;
    margin: 0;
    width: 15px;
}

.follow-link {
    padding: 10px;
    margin: 20px 0;
}

.subfooter {
    width: 100%;
    padding: 2rem 0;
}

.footer {
    width: 100%;
    padding: 1rem 0;
}

@media only screen and (max-width: 990px) {
    .col-logo, .col-nav, .md-center {
        text-align: center;
    }
    .villa-avail-cal iframe {
        display: none !important;
    }
    .book-cta {
        display: block;
    }
}