/* stylelint-disable color-no-hex */

$primary-color:        #c3a574;
$primary-color-dark:   #63584b;

$secondary-color:      #faf9f4;
$secondary-color-dark: #f0ede6;

$accent-color:         #155348;
$accent-color-dark:    #0f3a32;

$primary-font:         montserrat, sans-serif;
$heading-font:         cinzel, sans-serif;

$base-text-color:      #222222;
$primary-text-color:   #63584b;
$secondary-text-color: #c3a574;

$divider-color:        #f0ede6;
$border-color:         #f0ede6;
$white-color:          #ffffff;
$black-color:          #000000;