/* stylelint-disable color-no-hex */

.primary-color {
    color: $primary-color;
}

.primary-bg-color {
    background-color: $primary-color;
}

.primary-color-dark {
    color: $primary-color-dark;
}

.primary-bg-color-dark {
    background-color: $primary-color-dark;
}

.secondary-color {
    color: $secondary-color;
}

.secondary-bg-color {
    background-color: $secondary-color;
}

.secondary-color-dark {
    color: $secondary-color-dark;
}

.secondary-bg-color-dark {
    background-color: $secondary-color-dark;
}

.accent-color-dark {
    color: $accent-color-dark;
}

.accent-bg-color-dark {
    background-color: $accent-color-dark;
}

.accent-color {
    color: $accent-color;
}

.accent-bg-color {
    background-color: $accent-color;
}

.primary-text-color {
    color: $primary-text-color;
}

.bg-color-primary-text-color {
    background-color: $primary-text-color;
}

.secondary-text-color {
    color: $secondary-text-color;
}

.bg-color-secondary-text-color {
    background-color: $secondary-text-color;
}

.divider-color {
    color: $divider-color;
}

.divider-bg-color {
    background-color: $divider-color;
}

.border-color {
    color: $border-color;
}

.border-bg-color {
    background-color: $border-color;
}

.white-color {
    color: #ffffff;
}

.ui-color-box {
    height: 200px;
    width: 100%;
    padding: 30px;
}
