// stylelint-disable declaration-no-important

.shadow-sm {
    box-shadow: 0 0.12rem 0.25rem rgba(0, 0, 0, 0.75);
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    &:hover {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    }
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.17);
}

.shadow-none {
    box-shadow: none !important;
}

.text-shadow {
    text-shadow: 0 0.12rem 0.5rem rgba(0, 0, 0, 0.75);
}